<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.sdu.ise.labs.dao.CompetitionEventMapper">
    <resultMap id="BaseResultMap" type="cn.edu.sdu.ise.labs.model.CompetitionEventExt">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="competition_event_code" jdbcType="VARCHAR" property="competitionEventCode"/>
        <result column="competition_event_name" jdbcType="VARCHAR" property="competitionEventName"/>
        <result column="suite_type" jdbcType="INTEGER" property="suiteType"/>
        <result column="plan_start_at" jdbcType="DATE" property="planStartAt"/>
        <result column="plan_end_at" jdbcType="DATE" property="planEndAt"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
        <result column="updated_at" jdbcType="TIMESTAMP" property="updatedAt"/>
        <result column="created_by" jdbcType="VARCHAR" property="createdBy"/>
        <result column="updated_by" jdbcType="VARCHAR" property="updatedBy"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, competition_event_code, competition_event_name, suite_type, plan_start_at, plan_end_at,
    status, created_at, updated_at, created_by, updated_by
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from competition_event
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete
        from competition_event
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="cn.edu.sdu.ise.labs.model.CompetitionEventExt">
        insert into competition_event (id, competition_event_code, competition_event_name,
                                       suite_type, plan_start_at, plan_end_at,
                                       status, created_at, updated_at,
                                       created_by, updated_by)
        values (#{id,jdbcType=INTEGER}, #{competitionEventCode,jdbcType=VARCHAR},
                #{competitionEventName,jdbcType=VARCHAR},
                #{suiteType,jdbcType=INTEGER}, #{planStartAt,jdbcType=DATE}, #{planEndAt,jdbcType=DATE},
                #{status,jdbcType=INTEGER}, #{createdAt,jdbcType=TIMESTAMP}, #{updatedAt,jdbcType=TIMESTAMP},
                #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR})
    </insert>

    <update id="updateByPrimaryKey" parameterType="cn.edu.sdu.ise.labs.model.CompetitionEventExt">
        update competition_event
        set competition_event_code = #{competitionEventCode,jdbcType=VARCHAR},
            competition_event_name = #{competitionEventName,jdbcType=VARCHAR},
            suite_type             = #{suiteType,jdbcType=INTEGER},
            plan_start_at          = #{planStartAt,jdbcType=DATE},
            plan_end_at            = #{planEndAt,jdbcType=DATE},
            status                 = #{status,jdbcType=INTEGER},
            created_at             = #{createdAt,jdbcType=TIMESTAMP},
            updated_at             = #{updatedAt,jdbcType=TIMESTAMP},
            created_by             = #{createdBy,jdbcType=VARCHAR},
            updated_by             = #{updatedBy,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>