<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.edu.sdu.ise.labs.dao.TeamLeaderMapper" >
  <resultMap id="BaseResultMap" type="cn.edu.sdu.ise.labs.model.TeamLeader" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="team_code" property="teamCode" jdbcType="VARCHAR" />
    <result column="leader_name" property="leaderName" jdbcType="VARCHAR" />
    <result column="leader_job" property="leaderJob" jdbcType="CHAR" />
    <result column="ethnicity" property="ethnicity" jdbcType="VARCHAR" />
    <result column="gender" property="gender" jdbcType="CHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="id_type" property="idType" jdbcType="CHAR" />
    <result column="created_at" property="createdAt" jdbcType="TIMESTAMP" />
    <result column="updated_at" property="updatedAt" jdbcType="TIMESTAMP" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="updated_by" property="updatedBy" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, team_code, leader_name, leader_job, ethnicity, gender, id_number, id_type, created_at, 
    updated_at, created_by, updated_by
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from team_leader
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from team_leader
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.edu.sdu.ise.labs.model.TeamLeader" >
    insert into team_leader (id, team_code, leader_name, 
      leader_job, ethnicity, gender, 
      id_number, id_type, created_at, 
      updated_at, created_by, updated_by
      )
    values (#{id,jdbcType=INTEGER}, #{teamCode,jdbcType=VARCHAR}, #{leaderName,jdbcType=VARCHAR}, 
      #{leaderJob,jdbcType=CHAR}, #{ethnicity,jdbcType=VARCHAR}, #{gender,jdbcType=CHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{idType,jdbcType=CHAR}, #{createdAt,jdbcType=TIMESTAMP}, 
      #{updatedAt,jdbcType=TIMESTAMP}, #{createdBy,jdbcType=VARCHAR}, #{updatedBy,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.edu.sdu.ise.labs.model.TeamLeader" >
    insert into team_leader
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="teamCode != null" >
        team_code,
      </if>
      <if test="leaderName != null" >
        leader_name,
      </if>
      <if test="leaderJob != null" >
        leader_job,
      </if>
      <if test="ethnicity != null" >
        ethnicity,
      </if>
      <if test="gender != null" >
        gender,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="idType != null" >
        id_type,
      </if>
      <if test="createdAt != null" >
        created_at,
      </if>
      <if test="updatedAt != null" >
        updated_at,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="updatedBy != null" >
        updated_by,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="teamCode != null" >
        #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderJob != null" >
        #{leaderJob,jdbcType=CHAR},
      </if>
      <if test="ethnicity != null" >
        #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        #{gender,jdbcType=CHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        #{idType,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        #{updatedBy,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.edu.sdu.ise.labs.model.TeamLeader" >
    update team_leader
    <set >
      <if test="teamCode != null" >
        team_code = #{teamCode,jdbcType=VARCHAR},
      </if>
      <if test="leaderName != null" >
        leader_name = #{leaderName,jdbcType=VARCHAR},
      </if>
      <if test="leaderJob != null" >
        leader_job = #{leaderJob,jdbcType=CHAR},
      </if>
      <if test="ethnicity != null" >
        ethnicity = #{ethnicity,jdbcType=VARCHAR},
      </if>
      <if test="gender != null" >
        gender = #{gender,jdbcType=CHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="idType != null" >
        id_type = #{idType,jdbcType=CHAR},
      </if>
      <if test="createdAt != null" >
        created_at = #{createdAt,jdbcType=TIMESTAMP},
      </if>
      <if test="updatedAt != null" >
        updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="updatedBy != null" >
        updated_by = #{updatedBy,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.edu.sdu.ise.labs.model.TeamLeader" >
    update team_leader
    set team_code = #{teamCode,jdbcType=VARCHAR},
      leader_name = #{leaderName,jdbcType=VARCHAR},
      leader_job = #{leaderJob,jdbcType=CHAR},
      ethnicity = #{ethnicity,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=CHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      id_type = #{idType,jdbcType=CHAR},
      created_at = #{createdAt,jdbcType=TIMESTAMP},
      updated_at = #{updatedAt,jdbcType=TIMESTAMP},
      created_by = #{createdBy,jdbcType=VARCHAR},
      updated_by = #{updatedBy,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>